*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    background:#f4f6f9;
}

/* 左侧菜单 */

.sidebar{
    width:230px;
    height:100vh;
    background:#1d2b53;
    color:white;
    position:fixed;
    left:0;
    top:0;
}

.logo{
    text-align:center;
    font-size:24px;
    font-weight:bold;
    padding:25px 0;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:18px 25px;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
}

.sidebar li:hover{
    background:#2F80FF;
}

.active{
    background:#2F80FF;
}

/* 右侧 */

.main{
    margin-left:230px;
    width:calc(100% - 230px);
    padding:25px;
}

/* 顶部 */

.topbar{
    height:65px;
    background:white;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.admin{
    background:#2F80FF;
    color:white;
    padding:10px 20px;
    border-radius:8px;
}

/* 数据卡片 */

.cards{
    margin-top:25px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.card h3{
    color:#888;
    margin-bottom:15px;
}

.card h1{
   
